%article
  = wrapped :header do
    %h2 Activities

  = wrapped :section, :class => 'activities' do
    %ul
      - @activities.each do |activity|
        = wrapped :li do
          %strong= activity.name
          %em(title="#{pluralize activity.participations.count, "participant"}")
            = activity.participations.count
          %span
            = activity.when.strftime '%A, %H:%M'
            %br
            = activity.where
            %br
            -# TODO
            = activity.prerequisites
          .participants
            %span Participants
            %ul.participations
              - activity.participations.each do |participation|
                %li.participation
                  %a(href="https://twitter.com/#{participation.account}" title="View #{participation.account} on Twitter")
                    %img(src="https://api.twitter.com/1/users/profile_image/#{participation.account}" alt="Avatar for #{participation.account}")
          %code(title="Participations code '##{activity.code}'")= "##{activity.code}"
